body {
	background-color: #ECC9C7;
	word-break: keep-all;
	display: table-cell;
	vertical-align: middle;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.t20 { font-size: 20px; }
.t17 { font-size: 17px; }

.table td {	vertical-align: middle;}
.table .d { vertical-align: top; }

.pagination .page-item.active .page-link {
  background-color: #2bbbad;
}
