.container {
	min-height: 300px;
	background-color: #EFEFEF;
	border-radius: 15px;
}
label {
	display: inline-block;
	text-align: right;
	width: 100px;
}
input {
	margin: 10px;
}
/*delete number type input spinner*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

