body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url('../res/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 100px;
	height: 100vh;
}
.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.index_sec {
	padding: 40px 30px;
	display: flex;
	flex-direction: column;
	min-height: 60vh;
	min-width: 80vw;
	background-color: rgba(255, 255, 255, 0.7);
}

.form_sec {
	padding: 40px 30px;
	display: flex;
	flex-direction: column;
	min-height: 60vh;
	min-width: 40vw;
	background-color: rgba(255, 255, 255, 0.7);
}

/*?? Pagination active color change*/